<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=data[0].club_write_title%></title>
    <% include ./head.ejs %>
    <link rel="stylesheet" href="../css/ViewStyle.css">
    <link rel="stylesheet" href="../css/ClubFinderView.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
  </head>
  <body>
    <div id="READ">READ</div>
    <div class="container" align="center">
      <div align="center" id="box">
        <div class="HeaderInfo" align="left">
          <span id="title"><%=data[0].club_write_title%></span>
          <span id="clubname"><%=data[0].club_write_clubname%></span><br>
          <span id="name"><%=data[0].club_write_name%></span>
          <span id="where">(ClubFinder)</span>
            <span id="date"><%=data[0].club_date%></span>
          <span id="realView">조회 <span style="color: orange"><%=data[0].club_write_views%></span></span>
        </div>
        <hr id="line">
        <span id="oneline">*<%=data[0].club_write_1lineSum%>*</span><br>
        <hr id="line">
        <div class="contentArea" align="left">
          <p><%=data[0].club_write_content%></p>
        </div>
        <div class="rewriteArea">
          <hr id="line">
          <a href="ClubFinder">목록</a>
          <% if (userid == data[0].club_write_name && usernum == data[0].club_write_usernum ){%>
          <button type="button" name="writebutton" id="writebutton" ><a href=<%="./ClubFinderBoard?postno="+data[0].club_write_number%> id="rewriteButtontext">수정</a></button>
          <button type="button" name="deletebutton" id="deletebutton" onclick="deleteBoard()">삭제</button>

          <% } %>
        </div>
      </div>
    </div>
    <script>
    function deleteBoard(){
       var identify = prompt("글 삭제 비밀번호를 입력해주세요","password");
       $.ajax({
         type : "POST",
         url : "/verifyClubFinderpassword",
         dataType : "text",
         data : {
          'password' : identify,
          'primarykey' :  <%=data[0].club_write_number%>
        },
        success : function(result){
          if(JSON.parse(result).isright == 1){

            var right = confirm("삭제하시겠습니까?");
            if(right == true){
                $.ajax({
                  type : "POST",
                  url : "/deleteClubFinderboard",
                  data : {
                    'primarykey' : <%=data[0].club_write_number%>
                  },
                  success : function(result){
                  location.href = '/clubfinder';
                },
                  error : function(err){
                    console.log(err.responseText);
                    alert(err.responseText);
                  }
                });
            }
          }else{
            alert("틀린 비밀번호 입니다.");
          }
        },
        error : function(err){
          console.log(err.responseText);
          alert(err.responseText);
        }
      })
  }

    </script>
  </body>
</html>
